:root {
  --elem-dimension: 30px;
}
.elementValue{
  height: var(--elem-dimension);
  position: relative;
  display: inline-block;
}

/* Стрелки, соединяющие кружки */
.connectionPartLeft{
  position:absolute;
  width: 50%;
  height: var(--elem-dimension);
  left: 0;
  top: calc(-1 * var(--elem-dimension)/2);
  border-right: 1px solid black;
  border-top: 1px solid white;
}
.connectionPartMiddle{
  position:absolute;
  top: calc(var(--elem-dimension)/2);
  width: 100%;
  height: var(--elem-dimension);
  border-top: 1px solid black;
}
.connectionPartRight{
  position:absolute;
  width: 50%;
  height: var(--elem-dimension);
  right: 0;
  top: calc(-1 * var(--elem-dimension)/2);
  border-left: 1px solid black;
  /* border-top: 1px solid white; */
  background-color: white;
}

.childrens{
  display: inline-flex;
}

.text{
  height: var(--elem-dimension);
  line-height: var(--elem-dimension);
  width: var(--elem-dimension);
  border-radius: 15px;
  border: 1px solid black;
  background-color: white;
  z-index: 3;
  position: relative;
  margin: auto;
  background-color: aquamarine;
}

.children{
  position: relative;
  padding: 8px 4px 8px 4px;
}

.node{
  display: inline-flex;
  margin: auto;
  flex-direction:column;
  align-items: stretch;
}